/*-------------- credit-card -----------------*/
.credit-card{
	&__content{
		background: #faf9f9;
		border-radius: 20px;
		padding: 32px 48px 12px;
	}

	&__input{
		position: relative;
	}
	
	input[type="text"],
	input[type="email"],
	input[type="date"]{
		height: 3rem;
		width: 100%;
		outline: none;
		border: 1px solid transparent;
		border-radius: 1.5rem;
		font-family: $font-site;
		@include font(normal, normal, 1rem, 3rem, #4a4a4a);
		padding: 0 20px;
		margin: 0;
		background: #fff;
		box-shadow: none;
		transition: all 0.3s ease 0s;
	}

	input[type="text"]:focus,
	input[type="email"]:focus,
	input[type="date"]:focus,
	textarea:focus{
		box-shadow: none;
	}

	input[type="text"]::placeholder,
	input[type="email"]::placeholder,
	input[type="date"]::placeholder{
		color: #9B9B9B;
	}

	input[type="text"]:focus,
	input[type="email"]:focus,
	input[type="date"]:focus{
		border-color: $color-orange;
	}

	&__field{
		margin-bottom: 17px;
	}

	&__label{
		@include font(normal, 500, 0.75rem, 1.2, #989898);
		text-transform: uppercase;
		margin-bottom: 6px;
	}

	&__field-wrap{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-left: -8px;
		margin-right: -8px;
	}

	&__field-wrap &__field{
		width: calc(50% - 16px);
		margin-left: 8px;
		margin-right: 8px;
	}

	&__btn{
		text-align: center;
		margin-top: 32px;
	}

	&__btn .btn{
		min-width: 180px;
		text-transform: uppercase;
	}

	&__btn_jc{
		display: flex;
		justify-content: space-between;
	}

	&__bottom{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__bottom_end{justify-content: flex-end;}

	&__field.error &__label{color: $color-red;}

	&__field.error &__input::after{
		content: '';
		display: inline-block;
		width: calc(100% - 40px);
		height: 2px;
		background: $color-red;
		position: absolute;
		bottom: 11px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
}

.credit-card-type{
	display: flex;
	align-items: center;

	&__item:not(:last-child){
		margin-right: 16px;
	}
}

.credit-list-wrap{
	padding-top: 37px;

	&__head{
		@include font(normal, 500, 2rem, 1.2, $color-text);
		margin-bottom: 32px;
	}

	&__btn{
		text-align: center;
		margin-top: 32px;
	}
}

.credit-list{
	display: flex;
	flex-wrap: wrap;
	margin-left: -8px;
	margin-right: -34px;
}

.credit-item{
	display: inline-block;
	width: 260px;
	height: 160px;
	border-radius: 12px;
	background-image: url(/assets/img/bg-credit-card.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	box-shadow: 0px 12px 20px rgba(171, 171, 171, 0.25);
	margin: 8px;

	&_empty{
		padding: 20px;
		position: relative;
	}

	&__title{
		@include font(normal, 500, 1rem, 1.2, $color-red);
	}

	&__add{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background: #ffe2ec;
		cursor: pointer;
		position: absolute;
		@include top-center;
		left: 0;
		right: 0;
		margin: 0 auto;
		transition: all 0.3s ease 0s;

		.icon{fill: $color-red;}
	}

	&__add:hover{background: #fbccdc;}
}

html[dir="rtl"]{
	.credit-card-type{
		&__item:not(:last-child){
			margin-right: 0;
			margin-left: 16px;
		}
	}

	.credit-list{
		margin-right: -8px;
		margin-left: -34px;
	}
}

@media (max-width: 767px) {
	.credit-card{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		
		&__content{
			padding: 0;
			background: transparent;
		}

		input[type="text"],
		input[type="email"],
		input[type="date"]{
			background: #faf9f9;
		}

		&__field{margin-bottom: 25px;}
		&__field-wrap{align-items: flex-end;}
		&__field-wrap &__field{width: calc(33.33% - 16px);}

		&__btn_jc{justify-content: center;}

		&_bg-mob &__content{
			padding: 20px 20px 0;
			background: #faf9f9;
			margin-bottom: 20px;
		}

		&_bg-mob &__content input[type="text"],
		&_bg-mob &__content input[type="email"],
		&_bg-mob &__content input[type="date"]{
			background: #fff;
		}

		&__data &__field:last-child{margin-bottom: 0;}
	}

	.credit-card-type{
		margin-bottom: 27px;
	}

	.credit-list-wrap{
		padding-top: 0;
		padding-bottom: 80px;
	}

	.credit-list{
		justify-content: center;
		margin-left: -6px;
		margin-right: -6px;
	}

	.credit-item{
		width: 335px;
		height: 200px;
		box-shadow: 0px 12px 20px rgba(171, 171, 171, 0.25);

		&_empty{
			box-shadow: none;
			border: 2px dashed #c4c4c4;
			background: #fff;
		}

		&__add{
			width: 70px;
			height: 70px;
			background: #faf9f9;

			.icon{
				width: 26px;
				height: 26px;
				fill: #acacac;
			}
		}

		&__add:hover{background: #e5e3e3;}

		&__title{display: none;}
	}
}