/*-------------- offer -----------------*/
.offer{
	width: 100%;
	background: #fff;
	box-shadow: 0 24px 48px hsla(0,0%,64.7%,.25);
	border-radius: 12px;
	margin: 0 10px 16px;

	&__head{
		@include font(normal, 500, 1.25rem, 1.2, #fff);
		margin-bottom: 12px;
	}

	&__text{
		@include font(normal, normal, 1rem, 1.2, #fff);
	}

	img {
		width: 100%;
		border-radius: 12px;
	}
}