/*-------------- pizza -----------------*/
.wrapper-pizza{
	.catalog-list{
		&__img{background-size: contain;}
	}

	.catalog-list_tile{
		.catalog-list__item{overflow: visible;}
		.catalog-list__img{margin-top: -16px;}
		.catalog-list__new{top: 16px;}
	}

	.product__img{
		display: inline-block;
		vertical-align: top;
		width: 280px;
		height: 280px;
		background-size: cover;
		margin: -40px auto 0;
	}

	.popup-product{
		.popup-wrap{
			// padding: 50px 40px;
			// padding: 0 8px;
			background: transparent;
			box-shadow: none;
		}

		.product{
			border-radius: 12px;
			box-shadow: 0 12px 20px rgba(65, 65, 65, 0.25);
			background: #fff;
			margin-top: 40px;

			&__main{display: block;}

			&__info{
				width: 100%;
				text-align: center;
				padding-left: 0;
				padding-right: 0;
			}

			&__head{display: block;}

			&__price{
				display: flex;
				justify-content: center;
				align-items: center;
			}

			&__price-old{
				margin-top: 0;
				margin-right: 12px;
			}

			&__desc{color: $color-grey;}

			&__close .icon{fill: $color-red;}
		}
	}
}

html[dir="rtl"]{
	.wrapper-pizza{
		.popup-product{
			.product__price-old{
				margin-right: 0;
				margin-left: 12px;
			}
		}
	}
}

@media (max-width: 767px) {
	.wrapper-pizza{
		.product{
			display: block;
			padding-top: 10px;

			&__content{
				padding: 20px 20px 160px;
			}

			&__img{
				display: block;
				width: 180px;
				height: 180px;
				margin-top: -34px;
			}

			&__close{
				top: 20px;
				right: 20px;
			}

			&__main{margin-bottom: 15px;}
		}

		.popup-product .product{height: auto;}
	}

	html[dir="rtl"]{
		.wrapper-pizza{
			.product{
				&__close{
					right: auto;
					left: 20px;
				}
			}
		}
	}
}