/*-------------- popup -----------------*/
.popup-wrap{
	max-height: 90%;
	width: 640px;
	max-width: 90%;
	border-radius: 12px;
	box-shadow: 0 12px 20px rgba(65, 65, 65, 0.25);
	margin: 0 auto;
	padding: 50px 40px;
	// padding: 0 8px;
	background: #fff;
	position: fixed;
	@include top-center;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 1006;
	overflow-y: auto;

	&.full-height{
		height: 100vh;
		overflow-y: auto;
		max-height: 100vh;
	}
}

.popup{
	// background: #fff;
	position: relative;

	// border-radius: 12px;
	// box-shadow: 0px 12px 20px rgba(65, 65, 65, 0.25);
	// // max-width: 640px;
	// max-width: 800px;
	// margin: 0 auto;

	&__content{padding-bottom: 20px;}

	&__close{
		display: inline-block;
		width: 32px;
		height: 32px;
		background: transparent;
		padding: 0;
		border: 0;
		outline: 0;
		box-shadow: none;
		position: absolute;
		top: -27px;
		right: -17px;
		cursor: pointer;

		.icon{
			display: inline-block;
			vertical-align: top;
			width: 100%;
			height: 100%;
		}
	}

	&__close_white{
		.icon{fill: #fff;}
	}

	h1, .h1, h2, .h2{
		text-align: center;
	}

	&__text{
		max-width: 70%;
		@include font(normal, normal, 1rem, 1.3, $color-grey);
		text-align: center;
		margin: -22px auto 30px;
	}

	&__text a{color: $color-grey;}

	.profile,
	.order-history,
	.credit-card,
	.pay-form,
	.pay-choose-form{
		margin: 0 auto;
	}

	.profile{width: 91.5%;}
	.order-history{width: 85.8%;}
	.credit-card{width: 81.5%;}
	.pay-form{width: 81%;}
	.pay-choose-form{width: 87%;}

	&__btn{
		text-align: center;
		margin-top: 30px;
		position: relative;
		z-index: 2;
	}

	&__back a{
		color: white!important;
	}

	.product{margin: 0 -8px;}
}

geteat-client-popup {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	position: absolute;
}

.close-button {
	background: $color-red;
	box-shadow: 0 8px 16px hsla(0,0%,54.1%,.25);
	width: 50px;
	height: 50px;
	border-radius: 100%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9999;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	position: sticky;
	margin-left: -15px;
	margin-top: -15px;

	.ic-close {
		fill: white;
		height: 15px;
		width: 15px;
	}
}

.popup-wrap-pay{
	// .form-site{
	// 	input[type=date],
	// 	input[type=email],
	// 	input[type=text],
	// 	input[type=tel],
	// 	textarea {
	// 		background: #fff;
	// 	}
	// }

	.input-check{
		&__mark {
			width: 24px;
			height: 24px;
		}
	}
}

.send-cutlery {
	display: flex;

	label {padding-left: 10px;}
}

html[dir="rtl"]{
	.close-button {
		margin-left: 0;
		margin-right: -15px;
	}

	.send-cutlery {
		label {
			padding-left: 0;
			padding-right: 10px;
		}
	}
}

.popup-wrap-sms{
	padding: 5rem 4rem 0 4rem;
}

@media (max-width: 767px) {
	.popup-wrap{
		width: 100%;
		height: 100%;
		max-width: 100%;
		max-height: 100%;
		padding: 0;
		border-radius: 0;
		background: #fff;

		&_mob-bot{
			max-height: calc(100vh - 68px);
			height: auto;
			margin-top: 68px;
			overflow-y: auto;
			border-radius: 12px 12px 0 0;
			top: auto;
			bottom: 0;
			transform: none;

			.popup{height: 100vh;}
		}
	}

	.popup-wrap-pay-choose{background: transparent;}

	.popup{
		height: 100%;

		&__login{
			text-align: center;
			position: relative;
			margin-bottom: 16px;
		}

		&__head{
			display: flex;
			flex-direction: column;
			justify-content: center;
			position: relative;
			min-height: 125px;
		}

		&__text{max-width: 100%;}

		&__top{
			// min-height: 287px;
			padding: 20px;
			position: relative;
		}

		&__top_min{min-height: 170px;}

		&__bg-top{
			width: 100%;
			height: 100%;
			// margin: -20px -20px 0;
			position: absolute;
			top: 0;
			left: 0;
		}

		&__head a{color: #fff;}

		h1,
		.h1,
		h2,
		.h2{
			color: #fff;
			margin-bottom: 0;
		}

		h2,
		.h2{
			font-size: 2.5rem;
			text-align: left;
		}

		&__text{
			color: #fff;
			margin: 0;
			text-align: left;
		}

		&__content{
			background: #fff;
			border-radius: 12px;
			// height: calc(100% - 300px);
			margin: 0 1rem 2rem 1rem;
			padding: 20px;
		}

		.form-site-wrap,
		.form-site,
		.sms-form-wrap,
		.sms-form,
		.credit-card-wrap,
		.credit-card,
		.pay-choose-form-wrap,
		.pay-choose-form,
		.pay-form-wrap,
		.pay-form{
			height: 100%;
		}

		.form-site,
		.sms-form{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		&__back{
			display: inline-block;
			@include font(normal, 500, 1rem, 1, #fff);
			text-transform: uppercase;
			margin-bottom: 23px;
			position: relative;

			.icon{
				fill: #fff;
				margin-right: 10px;
			}
		}

		.credit-card,
		.pay-choose-form,
		.pay-form,
		.profile,
		.order-history{
			width: 100%;
		}

		.product{margin: 0;}

		.cat-history{
			padding: 40px 20px;

			.btn{margin-bottom: 0;}
		}

		.cat-coupon__title{text-align: unset;}
	}

	.close-button {
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
	}

	.popup-wrap-sms{
		display: flex;
		flex-direction: column;
		background: transparent;

		.popup {
			display: flex;
			flex-direction: column;
			justify-content: center;

			&__content{background: transparent;}
		}

		.form-site__btn-label {
			color: #fff;
		}
	}

	.popup-wrap-delivery{
		background: transparent;

		.popup__content {
			background: #fff;
			// border-radius: 12px;
			margin: 1rem;
		}
	}

	.popup-delivery-area{

		.filter{
			flex-wrap: nowrap;
			justify-content: center;
			overflow-x: auto;
			padding: 0 15px;
			margin: 0 -20px;

			&__item{box-shadow: 0px 5px 7px rgba(171, 171, 171, 0.25);}
		}

		.popup{
			&__head{align-items: center;}
		}
	}

	.popup-wrap-pay{
		background: transparent;

		.popup{
			&__top {
				min-height: unset;
				padding: 20px;
			}

			&__content {
				background: white;
				border-radius: 12px;
				margin: 0 1rem 2rem;
				padding: 20px;
			}
		}

		.card-check{
			&__text {
				text-align: left;
			}

			&__mark {
				top: 50%;
				transform: translateY(-50%);
			}
		}

		.h1 {text-align: center;}
	}

	.popup-wrap_mob-bot .popup{
		height: 100%;

		&__head{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			min-height: 0;
			margin-bottom: 20px;
      padding: 20px;
		}

		&__head h1,
		&__head .h1{
			max-width: calc(100% - 45px);
			color: #3c3c3b;
		}

		&__close{position: static;}
	}

	html[dir="rtl"]{
		.popup{
			h2,
			.h2,
			&__text{
				text-align: right;
			}

			&__back{
				.icon{
					margin-right: 0;
					margin-left: 10px;
				}
			}
		}

		.popup-wrap-pay{
			.card-check{
				&__text {text-align: right;}
			}
		}
	}
}
