/*-------------- product -----------------*/
.popup-wrap-product{
	padding: 0;
	top: auto;
	transform: initial;
	overflow-x: hidden;
	height: 100%;

	.popup{
		height: 100%;
	}
}

.product{
	display: flex;
	flex-direction: column;
	height: 100%;
	position: relative;

	&__close{
		position: absolute;
		top: 30px;
		right: 30px;
		.icon{fill: #fff;}
	}

	&__img{
		display: block;
		height: 370px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	&__main{
		display: flex;
		justify-content: space-between;
		margin-bottom: 26px;
	}

	&__info{
		padding-right: 10px;
	}

	&__head{
		display: flex;
		align-items: center;
		@include font(normal, 500, 2rem, 1.2, $color-text);

		.catalog-list-icon__item{
			margin-right: 0;
			margin-left: 12px;
		}
	}

	&__desc{
		@include font(normal, normal, 1rem, 1.2, #4a4a4a);
		margin-top: 15px;
	}

	&__price{
		text-align: right;
	}

	&__price-cur{
		@include font(normal, 900, 2rem, 1.2, $color-text);
		white-space: nowrap;
	}

	&__price-old{
		@include font(normal, 500, 1.375rem, 1.2, #d3d3d3);
		text-decoration: line-through;
		white-space: nowrap;
		margin-top: 7px;
	}

	&__content {
		padding: 30px 50px 0;
		flex: 1 1 auto;
	}
}

.product-header {
	position: sticky;
	top: 0;
	z-index: 1;
	box-shadow: 0 20px 25px hsl(0, 0%, 100%);
}

.product-form-bottom{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 23px;
	padding: 30px 50px;
	position: sticky;
	bottom: 0;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 30%, #ffffff00 5%, #b0b0b0 150%);

	.btn{
		min-width: 172px;
	}
}

.product-form{
	&__head{
		@include font(normal, 500, 1.25rem, 1.2, $color-text);
		margin-bottom: 12px;
	}

	&__text{
		@include font(normal, normal, 1rem, 1.2, $color-grey);
		margin-bottom: 12px;
	}
}

.product-form-group{
	margin-bottom: 14px;

	&__head{
		@include font(normal, 500, 1.25rem, 1.2, $color-text);
		margin-bottom: 8px;
	}

	&__text{
		@include font(normal, normal, 1rem, 1.2, $color-grey);
		margin-bottom: 5px;
	}

	&__subtitle{
		@include font(normal, 500, 1.125rem, 1.2, #676767);
		margin-bottom: 5px;
	}
}

.product-choose-wrap{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -8px;
}

.product-choose{
	// width: calc(33.33% - 16px);
	width: auto;
	margin: 0 8px 12px;

	&__label{
		display: inline-flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 100%;
		min-height: 64px;
		border-radius: 12px;
		background: #f5f5f5;
		padding: 14px 16px 11px;
		cursor: pointer;
		position: relative;
		transition: all 0.3s ease 0s;
	}

	input[type=radio],
	input[type=checkbox]{
		display: none;
	}

	&__mark{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		border: 1px solid #858585;
		position: relative;
		margin-top: -3px;
		transition: all 0.3s ease 0s;

		.icon{
			opacity: 0;
			max-width: 12px;
			max-height: 12px;
			fill: $color-red;
			transition: all 0.3s ease 0s;
		}
	}

	&__info{
		width: calc(100% - 32px);
	}

	&__text,
	&__title {
		width: max-content;
		padding-right: 20px;
	}

	&__title{
		@include font(normal, normal, 1rem, 1.2, #4a4a4a);
	}

	&__text{
		@include font(normal, normal, 0.875rem, 1.2, $color-grey);
		margin-top: 4px;
	}

	&__star{
		display: inline-block;
		width: 12px;
		height: 12px;
		position: absolute;
		top: 8px;
		right: 8px;
		// opacity: 0;
		transition: all 0.3s ease 0s;

		.icon{
			max-width: 100%;
			height: 100%;
			fill: $color-orange;
		}
	}

	input[type=radio]:checked + &__label,
	input[type=checkbox]:checked + &__label{
		background: #fbe7ee;
	}

	input[type=radio]:checked + &__label &__mark,
	input[type=checkbox]:checked + &__label &__mark{
		border-color: $color-red;
	}

	input[type=radio]:checked + &__label &__mark .icon,
	input[type=checkbox]:checked + &__label &__mark .icon,
	input[type=radio]:checked + &__label &__star {
		opacity: 1;
	}
	// input[type=radio]:checked + &__label &__star{opacity: 1;}
	input[type=radio]:checked + &__label &__title{color: $color-red;}
}

.product-form-field{
	background: #f5f5f5;
	border-radius: 12px;
	padding: 18px 24px 15px;
	margin-bottom: 16px;

	&__top{
		display: flex;
		justify-content: space-between;
		margin-bottom: 21px;
	}

	&__title{
		@include font(normal, 500, 1.25rem, 1.2, $color-text);
	}

	&__text{
		@include font(normal, normal, 1rem, 1.2, $color-grey);
		margin-top: 8px;
	}

	&__status{
		@include font(normal, normal, 1rem, 1.2, $color-red);
		padding-left: 10px;
	}

	&__check{
		display: flex;
		flex-wrap: wrap;
		margin: 0 -8px -17px;
	}

	&__check .input-check{
		width: calc(33.33% - 16px);
		margin: 0 8px 17px;
	}
}

.product-form-count-wrap{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: -10px -8px -17px;
}

.product-form-count{
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	min-width: 194px;
	height: 2rem;
	background: rgba(255,255,255,0.5);
	border: 1px solid rgba(221,221,221,0.5);
	border-radius: 1rem;
	margin: 0 8px 17px;
	padding: 0 5px 0 10px;

	&__text{
		@include font(normal, normal, 1rem, 2rem, #4a4a4a);
		padding-right: 10px;
	}
}

.product-comment{
	input[type="text"],
	input[type="email"],
	input[type="date"],
	textarea{
		height: 3rem;
		width: 100%;
		outline: none;
		border: 1px solid transparent;
		border-radius: 1.5rem;
		font-family: $font-site;
		@include font(normal, normal, 1rem, 3rem, #4a4a4a);
		padding: 0 24px;
		margin: 0;
		background: #faf9f9;
		box-shadow: none;
		transition: all 0.3s ease 0s;
	}

	input[type="text"]:focus,
	input[type="email"]:focus,
	input[type="date"]:focus,
	textarea:focus{
		box-shadow: none;
	}

	textarea{
		height: 112px;
		line-height: 1.2;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	input[type="text"]::placeholder,
	input[type="email"]::placeholder,
	input[type="date"]::placeholder,
	textarea::placeholder{
		color: #9B9B9B;
	}

	input[type="text"]:focus,
	input[type="email"]:focus,
	input[type="date"]:focus,
	textarea:focus{
		border-color: $color-orange;
	}

	&__top{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 16px;

		input[type="text"]{
			width: 50%;
		}
	}

	&__title{
		@include font(normal, 500, 1.25rem, 1.2, $color-text);
		padding-right: 10px;
	}
}

.product-param{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	min-width: 120px;
	margin-top: 6px;

	&__item{
		display: inline-flex;
		height: 48px;
		border-radius: 24px;
		padding: 4px;
		margin: 10px;
		background: #f5f5f5;
		cursor: pointer;
		transition: all 0.2s ease 0s;
	}

	&__icon{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: #fff;
		@include font(normal, 500, 1.125rem, 1, #9B9B9B);
	}

	&__text{
		@include font(normal, 500, 1rem, 40px, #666666);
		padding: 0 12px;
		transition: all 0.2s ease 0s;
	}

	&__item.active,
	&__item:hover{
		background: $color-orange;
	}

	&__item.active &__text,
	&__item:hover &__text{
		color: #fff;
	}
}

.prod-choose-img{
	display: flex;
	flex-wrap: wrap;
	margin-left: -11px;
	margin-right: -11px;

	&__item{
		display: inline-block;
		vertical-align: top;
		margin: 11px;
	}

	input[type=checkbox],
	input[type=radio]{
		display: none;
	}

	&__content{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 80px;
		height: 80px;
		border-radius: 12px;
		background: #f5f5f5;
		position: relative;
		padding: 5px;
		transition: all 0.3s ease 0s;
		cursor: pointer;
	}

	&__icon{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 27px;
		height: 27px;
		position: absolute;
		top: 0;
		right: 0;
	}

	&__item:hover &__content,
	input[type=checkbox]:checked + &__content,
	input[type=radio]:checked + &__content{
		background: $color-orange;
	}
}

.prod-choose-add{
	display: flex;
	flex-wrap: wrap;
	margin-left: -8px;
	margin-right: -8px;

	&__item{
		width: calc(33.33% - 16px);
		margin: 8px;
	}

	&__content{
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
		min-height: 104px;
		width: 100%;
		height: 100%;
		padding: 5px 10px;
		border-radius: 12px;
		background: #f5f5f5;
		transition: all 0.3s ease 0s;
		cursor: pointer;
	}

	&__icon{
		width: 40px;
		text-align: center;
	}

	&__info{width: calc(100% - 60px);}

	&__title{
		@include font(normal, 500, 1.125rem, 1.2, #4a4a4a);
		transition: all 0.3s ease 0s;
	}

	&__price{
		@include font(normal, normal, 1rem, 1.2, $color-grey);
		margin-top: 12px;
		transition: all 0.3s ease 0s;
	}

	input[type=checkbox],
	input[type=radio]{
		display: none;
	}

	&__item:hover &__content,
	input[type=checkbox]:checked + &__content,
	input[type=radio]:checked + &__content{
		background: $color-orange;
	}

	&__item:hover &__title,
	&__item:hover &__price,
	input[type=checkbox]:checked + &__content &__title,
	input[type=checkbox]:checked + &__content &__price,
	input[type=radio]:checked + &__content &__title,
	input[type=radio]:checked + &__content &__price{
		color: #fff;
	}

	&_small &__item{width: calc(25% - 16px);}
	&_small &__content{min-height: 84px;}
	&_small &__info{width: calc(100% - 50px);}
}

html[dir="rtl"]{
	.product{
		&__info{
			padding-right: 0;
			padding-left: 10px;
		}

		&__close{
			right: auto;
			left: 30px;
		}

		&__head{
			.catalog-list-icon__item{
				margin-right: 12px;
				margin-left: 0;
			}
		}
	}

	.product-form-field{
		&__status{
			padding-left: 0;
			padding-right: 10px;
		}
	}

  @media (min-width: 767px) {
    .product-form-count {
      padding: 0 10px 0 5px;
    }
  }
	.product-form-count{
		&__text{
			padding-right: 0;
			padding-left: 10px;
		}
	}

	.product-comment{
		&__title{
			padding-right: 0;
			padding-left: 10px;
		}
	}

	.product-choose{
		&__star{
			right: auto;
			left: 8px;
		}

		&__text,
		&__title {
			padding-right: 0;
			padding-left: 20px;
		}
	}

	.prod-choose-img{
		&__icon{
			right: auto;
			left: 0;
		}
	}
}

@media (max-width: 767px) {
	.product{
		padding: 0;
		position: relative;

		&__content{padding: 25px 25px 160px;}
		&__main{margin-bottom: 20px;}

		&__img{
			height: 211px;
			margin: 0;
		}
		&__head{
			font-size: 1.125rem;
			margin-bottom: 12px;
		}

		&__desc{
			font-size: 0.875rem;
			margin-top: 12px;
		}

		&__price-cur{
			font-size: 1.25rem;
			font-weight: 500;
			color: $color-red;
		}

		&__price-old{
			font-size: 0.875rem;
			font-weight: normal;
			margin-top: 2px;
		}

		&__close {
			width: 20px;
			height: 20px;
		}

		.catalog-list-icon{
			&__item{
				width: 24px;
				height: 24px;
			}
		}
	}

	.product-form{
		&__head{font-size: 1rem;}
		&__text{font-size: 0.875rem;}
	}

	.product-choose-wrap{margin: 0 -5px;}

	.product-choose{
		// width: calc(33.33% - 10px);
		margin: 0 5px 12px;

		&__title{font-size: 0.875rem;}
		&__text{font-size: 0.75rem;}
		&__label{padding: 14px 16px 11px;}

		&__info{width: calc(100% - 22px);}

		&__mark{
			width: 14px;
			height: 14px;
			margin-top: 0px;
		}

		&__mark:after{
			width: 9px;
			height: 9px;
		}
	}

	.product-form-field{
		padding: 12px;
		margin-bottom: 12px;

		&__title{font-size: 1rem;}
		&__text{font-size: 0.875rem;}
		&__status{font-size: 0.875rem;}
		&__top{margin-bottom: 12px;}

		&__check{margin: 0 -4px -17px;}
		&__check .input-check{
			width: calc(33.33% - 8px);
			margin: 0 4px 10px;
		}
		.input-check__text{margin-left: 8px;}
		.input-check__label{
			align-items: flex-start;
			width: 100%;
		}
	}

	.product-comment{
		&__title{font-size: 1rem;}
	}

	.product-form-count-wrap{margin: 0 -5px -12px;}

	.product-form-count{
		display: flex;
		flex-direction: column;
		height: auto;
		min-width: auto;
		width: calc(50% - 10px);
		padding: 10px;
		margin: 0 5px 12px;

		&__text{
			font-size: 0.875rem;
			padding: 0;
		}
	}

	.product-form-bottom{
		width: 100%;
		padding: 25px;
		// background: linear-gradient(180deg, rgba(255, 255, 255, 0) -14.18%, #FFFFFF 82.47%);
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 1010;
	}

	.product-param{
		&__item{
			height: 40px;
			margin: 4px;
			min-width: 103px;
		}

		&__head{margin-bottom: 6px;}

		&__icon{
			width: 32px;
			height: 32px;
		}

		&__text{
			line-height: 32px;
			padding: 0 8px;
		}
	}

	.product-form-group{
		&__head{font-size: 1rem;}
		&__text{font-size: 0.875rem;}
	}

	.prod-choose-img{
		flex-wrap: nowrap;
		width: calc(100% + 40px);
		margin-left: -20px;
		margin-right: -20px;
		overflow-x: auto;
		padding: 5px 16px;
		
		&__item{margin: 4px;}

		&__content{
			width: 56px;
			height: 56px;
			padding: 10px;
		}

		&__icon{
			width: 17px;
			height: 17px;
		}
	}

	.prod-choose-add{
		flex-wrap: nowrap;
		margin-left: -20px;
		margin-right: -20px;
		overflow-x: auto;
		padding: 5px 16px;

		&__item{
			width: auto;
			min-width: 106px;
			margin: 4px;
			position: relative;
		}

		&__item::after{
			content: '';
			display: inline-block;
			width: 16px;
			height: 16px;
			position: absolute;
			top: 0;
			left: 100%;
		}

		&__content{
			display: block;
			text-align: center;
		}

		&__icon,
		&__info{
			width: 100%;
		}

		&__icon{
			height: 48px;
			margin-bottom: 6px;

			img{max-height: 100%;}
		}

		&__title,
		&__price{
			font-size: 0.875rem;
		}

		&__price{
			white-space: nowrap;
			margin-top: 2px;
		}

		&_small &__icon{height: 40px;}
		&_small &__item{min-width: 76px;}

		&_small &__icon,
		&_small &__info{
			width: 100%;
		}
	}

	html[dir="rtl"]{
		.product-form-field{
			.input-check__text{
				margin-left: 0;
				margin-right: 8px;
			}
		}

		.prod-choose-add{
			&__item::after{
				left: auto;
				right: 100%;
			}
		}
	}
}
