// /*-------------- top-panel -----------------*/
.top-panel{
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 3rem;
	border-radius: 1.5rem;
	padding: 7px 20px;
	background:#fff;
	box-shadow: 0px 12px 20px rgba(171, 171, 171, 0.25);
	margin-bottom: 24px;

	.search-form-order{
		width: 25%;
		padding-right: 20px;
		border-right: 1px solid #e9e9e9;
	}

	&__time{
		width: 190px;
		border-right: 1px solid #e9e9e9;
	}

	&__contact{
		width: 114px;
		text-align: right;
		white-space: nowrap;
		padding-left: 15px;
	}

	&__phone{
		@include font(normal, normal, 1rem, 1.2, $color-grey);
		text-decoration: none;
		position: relative;

		.icon{
			stroke: $color-red;
			vertical-align: middle;
			margin-right: 8px;
		}
	}

	&__timer{
		display: flex;
		align-items: center;
		padding-right: 15px;
		position: relative;
	}

	&__timer::after{
		content: '';
		display: inline-block;
		width: 1px;
		height: 20px;
		background: #e9e9e9;
		position: absolute;
		@include top-center;
		right: 0;
	}

	&__timer-img{margin-right: 15px;}

	&__timer-wrap{
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 75%;
		padding-left: 18px;
	}

	&__timer-wrap .panel-delevery,
	&__timer-wrap &__contact,
	&__timer-wrap &__time{
		width: auto;
	}

	&__timer-wrap .dropdown,
	&__timer-wrap .panel-delevery{
		padding-left: 15px;
		padding-right: 15px;
	}
}

.panel-delevery{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(75% - 304px);
	padding: 0 20px;

	&__title{
		@include font(normal, normal, 1rem, 1.2, $color-grey);
	}

	&__list{
		display: flex;
		align-items: center;
	}

	&__item:not(:last-child){
		margin-right: 13px;
	}

	img{
		display: inline-block;
		vertical-align: middle;
	}
}

.top-panel-sign{
	display: flex;
	align-items: center;
	padding-left: 14px;
	border-left: 1px solid #e9e9e9;

	&__item:not(:last-child){margin-right: 5px;}
}

.top-panel-timer-wrap{
	background: #fff;
	margin: 0 -20px -10px;
	padding: 8px 20px 0;
	position: relative;
	z-index: 2;
}

.top-panel-timer{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 6px 8px 6px 16px;
	background: #e0f9dc;
	border-radius: 12px;

	&_red{background: #ffedf4;}

	&__text{
		@include font(normal, 500, 0.875rem, 1.2, #4a4a4a);
		margin-right: 6px;
	}
}

html[dir="rtl"]{
	.top-panel{
		.search-form-order{
			padding-right: 0;
			padding-left: 20px;
		}

		&__contact{
			text-align: left;
			padding-left: 0;
			padding-right: 15px;
		}

		&__phone .icon{
			margin-left: 8px;
			margin-right: 0;
		}

		&__time,
		.search-form-order{
			border-right: 0;
			border-left: 1px solid #e9e9e9;
		}

		&__timer{
			padding-right: 0;
			padding-left: 15px;
		}

		&__timer::after{
			right: auto;
			left: 0;
		}

		&__timer-wrap{
			padding-left: 0;
			padding-right: 18px;
		}

		&__timer-img{
			margin-right: 0;
			margin-left: 15px;
		}
	}

	.panel-delevery{
		&__item:not(:last-child){
			margin-right: 0;
			margin-left: 13px;
		}
	}

	.top-panel-sign{
		padding-left: 0;
		padding-right: 14px;
		border-left: 0;
		border-right: 1px solid #e9e9e9;

		&__item:not(:last-child){
			margin-right: 0;
			margin-left: 5px;
		}
	}

	.top-panel-timer{
		&__text{
			margin-right: 0;
			margin-left: 6px;
		}
	}
}

// @media (max-width: 1199px) {
// 	.top-panel{
// 		flex-wrap: wrap;
// 		&__time{border-right: 0;}

// 		.search-form-order{
// 			width: 50%;
// 			margin-bottom: 10px;
// 		}

// 		&__timer-wrap{
// 			flex-wrap: wrap;
// 			justify-content: flex-start;
// 			width: 100%;
// 		}

// 		&__timer-wrap &__timer,
// 		&__timer-wrap &__time,
// 		&__timer-wrap .panel-delevery,
// 		&__timer-wrap .top-panel-sign,
// 		&__timer-wrap &__contact{
// 			margin-top: 5px;
// 			margin-bottom: 5px;
// 		}
// 	}

// 	.panel-delevery{
// 		width: calc(75% - 114px);
// 	}

// 	html[dir="rtl"]{
// 		.top-panel{
// 			&__time{border-left: 0;}
// 		}
// 	}
// }

// @media (max-width: 991px) {
// 	.panel-delevery{
// 		width: 100%;
// 		margin-bottom: 15px;
// 		padding: 0;
// 	}

// 	.top-panel{
// 		&__contact{width: 100%;}
// 	}
// }