extends ../layout/main

block variables
	- var title = 'Content';
	- 
		var pagelist = [
			{href: 'food-menu.html',name:'Food menu'},
			{href: 'food-menu-popup.html',name:'food menu popup + order'},
			{href: 'food-menu-cards.html',name:'food menu cards'},
			{href: 'typography.html',name:'Typography'},
		];

block content
	section
		.container
			h1 Content
			ul
				each page in pagelist
					li
						a(href=page.href,)= page.name


