extends ../layout/main

block variables
	- var title = 'Content';
	- 
		var pagelist = [
			{href: 'food-menu.html',name:'Food menu'},
			{href: 'food-menu-popup.html',name:'Food menu popup + order'},
			{href: 'food-menu-cards.html',name:'Food menu cards'},
			{href: 'side-menu-mobile.html',name:'Side menu mobile'},
			{href: 'login.html',name:'Login'},
			{href: 'sms-code.html',name:'Sms code'},
			{href: 'future-order.html',name:'Future order'},
			{href: 'cart-not-empty.html',name:'Cart not empty'},
			{href: 'get-eat.html',name:'Get eat'},
			{href: 'get-eat-error.html',name:'Get eat (error)'},
			{href: 'get-eat-take-away.html',name:'Get eat (take away)'},
			{href: 'paymont-methods.html',name:'Paymont methods'},
			{href: 'card-details.html',name:'Card details'},
			{href: 'card-verification.html',name:'Card verification'},
			{href: 'paymont-method-popup.html',name:'Paymont method popup'},
			{href: 'popup-choose-item.html',name:'Popup choose item'},
			{href: 'product.html',name:'Popup order dish'},
			{href: 'typography.html',name:'Typography'},
		];

block content
	section
		.container
			h1 Content
			ul
				each page in pagelist
					li
						a(href=page.href,)= page.name


