/*-------------- fonts -----------------*/
/* Product Sans */
@font-face {
	font-family: 'Product Sans';
	src:url('#{$path-fonts}/ProductSans/ProductSans-Regular.eot');
	src: local('Product Sans'), local('ProductSans-Regular'),
		url('#{$path-fonts}/ProductSans/ProductSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/ProductSans/ProductSans-Regular.woff') format('woff'),
		url('#{$path-fonts}/ProductSans/ProductSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Product Sans';
	src:url('#{$path-fonts}/ProductSans/ProductSans-Medium.eot');
	src: local('Product Sans'), local('ProductSans-Medium'),
		url('#{$path-fonts}/ProductSans/ProductSans-Medium.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/ProductSans/ProductSans-Medium.woff') format('woff'),
		url('#{$path-fonts}/ProductSans/ProductSans-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Product Sans';
	src:url('#{$path-fonts}/ProductSans/ProductSans-Black.eot');
	src: local('Product Sans'), local('ProductSans-Black'),
		url('#{$path-fonts}/ProductSans/ProductSans-Black.eot?#iefix') format('embedded-opentype'),
		url('#{$path-fonts}/ProductSans/ProductSans-Black.woff') format('woff'),
		url('#{$path-fonts}/ProductSans/ProductSans-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

/* Rubik */
@font-face {
	font-family: 'Rubik';
	src: url('#{$path-fonts}/Rubik-Regular.eot');
	src: url('#{$path-fonts}/Rubik-Regular.eot?#iefix') format('embedded-opentype'),
	url('#{$path-fonts}/Rubik-Regular.woff2') format('woff2'),
	url('#{$path-fonts}/Rubik-Regular.woff') format('woff'),
	url('#{$path-fonts}/Rubik-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Rubik';
	src: url('#{$path-fonts}/Rubik-Medium.eot');
	src: url('#{$path-fonts}/Rubik-Medium.eot?#iefix') format('embedded-opentype'),
	url('#{$path-fonts}/Rubik-Medium.woff2') format('woff2'),
	url('#{$path-fonts}/Rubik-Medium.woff') format('woff'),
	url('#{$path-fonts}/Rubik-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Rubik';
	src: url('#{$path-fonts}/Rubik-Black.eot');
	src: url('#{$path-fonts}/Rubik-Black.eot?#iefix') format('embedded-opentype'),
	url('#{$path-fonts}/Rubik-Black.woff2') format('woff2'),
	url('#{$path-fonts}/Rubik-Black.woff') format('woff'),
	url('#{$path-fonts}/Rubik-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
