/*-------------- Header -----------------*/
@media (max-width: 767px) {
	.header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: #f0f0f0;
		padding: 10px 15px;

		&__logo img{
			width: 100px; 
			max-height: 30px;
		}

		&__link{
			@include font(normal, 500, 0.7rem, 1, #d8d8d8);
			text-transform: uppercase;
			text-decoration: none;
		}
	}
}