include ../utils/mixins
block variables

doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title #{title}

	body.wrapper-pizza
		.wrapper(class=shadow?'blur':'')
			if(header)
				+header(header)
				
			main
				block header-ban
				block breadcrumb
				if h1
					+h1(h1)
				block content
			include ./footer

		if shadow
			.backdrop

		if mob_sidebar
			include ../components/sidebar-mobile

		block modal